:root 
{
 --margin:0px;
 --padding:0px;
 --background-color:lightgray;
 --max-width:100%;
 --max-height:100vh;
 --font-style:italic;
 --text-center:center;
 --color:red;
}
body 
{
    margin: var(--margin);
    padding: var(--padding);
    background-color: var(--background-color);
}
.Calculator
{
    width: var(--max-width);
    height: var(--max-height);
    margin: var(--margin);
    padding: var(--padding);
    color: var(--color);
    font-family: var(--font-style);
    background-color: var(--background-color);
    text-align: var(--text-center);
}