@import url('font-style.css');
h1 {
    color: red; 
    font-size: 45px; 
    text-align: center;

}
p 
{
     text-align: center;
     letter-spacing: 2px; 
     font-size: 20px;
     color: blue;
}
