*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container > h1{
    padding: 20px 0;
}
.cart{
    display: flex;
}
.products{
    flex: 0.60;
}
.product{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    /* transform: scale(1.01); */
}
/* .product > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
} */
/* .product > img:hover{
    transform: scale(1.04);
} */
.name #prc{
    margin-bottom: 20px;
}
.product-dlt{
    position: absolute;
    bottom:370px;
    right: 630px;
    background-color: tomato;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}
.product-dlt:hover{
    background-color: white;
    color: tomato;
    font-weight: 600;
    border: 1px solid green;
}
#qty{
    width: 40px;
    padding: 5px;
    text-align: center;
}
.fa{
    /* margin-right: 5px; */
}
.total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}
.total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: yellowgreen;
    color: white;
    text-decoration: none;
}
.total a:hover{
    background-color: green;
}

@media screen and (max-width:700px)
{
    .dlt{
        display: none;
    }   
    .product{
        height: 150px;
    }
    .product img{
         height: 150px;
         width: 200px;
    }
    .name, #prc{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:900px)
{
    .cart{
        flex-direction: column;
    }
    .total{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1220px)
{
    .container{
        width: 95%;
    }
}